services:
    postgres:
        container_name: postgres
        image: postgres:latest
        restart: always
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DATABASE}
            - POSTGRES_PORT=${POSTGRES_PORT}
        ports:
            - ${POSTGRES_PORT}:5432
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - payment-backend

    redis:
        container_name: redis
        image: redis:latest
        restart: always
        environment:
            - REDIS_PORT=${REDIS_PORT}
            - REDIS_PASSWORD=${REDIS_PASSWORD}
        command: redis-server --requirepass ${REDIS_PASSWORD}
        ports:
            - ${REDIS_PORT}:6379
        volumes:
            - redis_data:/data
        networks:
            - payment-backend

    # --- Сервисы для Kafka ---
    zookeeper:
        image: confluentinc/cp-zookeeper:7.5.3
        restart: always
        environment:
            ZOOKEEPER_CLIENT_PORT: 2181
            ZOOKEEPER_TICK_TIME: 2000
        ports:
            - '2181:2181'
        volumes:
            - zookeeper_data:/var/lib/zookeeper/data
            - zookeeper_logs:/var/lib/zookeeper/log
        networks:
            - payment-backend

    kafka:
        image: confluentinc/cp-kafka:7.5.3
        restart: always
        depends_on:
            - zookeeper
        ports:
            - '9092:9092'
            - '29092:29092'
        environment:
            KAFKA_BROKER_ID: 1
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
            KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
            KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
            KAFKA_DELETE_TOPIC_ENABLE: 'true'
        volumes:
            - kafka_data:/var/lib/kafka/data
        networks:
            - payment-backend

    # --- Сервис для RabbitMQ ---
    rabbitmq:
        image: rabbitmq:management
        container_name: rabbitmq
        restart: always
        environment:
            - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER:-guest}
            - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD:-guest}
        ports:
            - '5672:5672'
            - '15672:15672'
        volumes:
            - rabbitmq_data:/var/lib/rabbitmq
        networks:
            - payment-backend

volumes:
    postgres_data:
    redis_data:
    zookeeper_data:
    zookeeper_logs:
    kafka_data:
    rabbitmq_data:

networks:
    payment-backend:
